.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 19.5rem;
    height: 19.5rem;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.box > div {
    width: 6rem;
    height: 6rem;
    background-color: black;
    cursor: pointer;
}

.cross {
    width: 6rem;
    height: 6rem;
    position: relative;
}

.cross > div {
    width: 5rem;
    height: 0.55rem;
    background-color: white;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cross > div:nth-child(1){
    transform: rotate(45deg);
}
.cross > div:nth-child(2){
    transform: rotate(-45deg);
}

.dot {
    width: 6rem;
    height: 6rem;
    position: relative;
}

.dot > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.dot > div:nth-child(1) {
    width: 5rem;
    height: 5rem;
    background-color: white;
}

.dot > div:nth-child(2) {
    width: 4rem;
    height: 4rem;
    background-color: black;
}